#logo {
	width: 100%;
	max-width: 400px;
}
body{
	font-family: 'Ubuntu', sans-serif;
	background-image: url("../images/subtle_white_feathers.zip");
	max-width:100%;
}
.container-fluid{
	width:100%;
	height:100%;
	margin:0;
}
.navbar-brand {
	padding: 3px 0px 0px 0px;
}
/* Text Styles */
h1 {
	font-size: 30px;
	color: #222;
	margin-bottom: 20px;
}
h2 {
	color: #f1f1f1;
}
h3,
label {
	color: #222;
	font-size: 20px;
}
th {
	font-size: 18px;
	color: #222;
}
h4 {
	color: #f1f1f1;
	font-size: 50px;
}
h5 {
	text-align: center;
	font-size: 30px;
	color: #222;
}
td {
	color: #222;
	font-size: 14px;
}
/* end */
#jumbotron1{
	/* The image used */
	background-image: url("../images/photo-1477936432016-8172ed08637e-1.png");
	/* padding: 150px 5px 150px 5px; */
	/* Full height */
	height: 50%;
	/* Center and scale the image nicely */
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
#map {
	height:600px;
	width:100%;
	border: solid rgb(239, 239, 240) 10px;
	size:100%;
}

#submitBtn {
	margin: 20px;
}
.forms{
	text-align:center;
	font-size:18px;
}
.resourcePage{
	color:rgb(255, 251, 236);
}
#zip {
	margin-bottom: 10px;
}
.footer {
	color: white;
	text-align:center;
	line-height:1.5;
	padding: 20px;
	font-size:12px;
	border-top: solid 2px rgb(152, 165, 160);
	margin-top: 20px;
}
/* Frequently Asked Questions Page */
#faq,
#helpfulResources {
	text-align: center;
	color: #222;
}
.faqs {
	color: #222;
}
#faq {
	margin-bottom: 0px;
}
.card {
	margin-bottom: 25px;
}
.card-columns {
	margin-top: 25px;
}
/* end */
/* Resources Page */
#input-resource {
	margin-bottom: 25px;
}
#searchBar {
	margin: auto;
}
.author {
	margin: 0px 5px 0px 5px;
}
a {
	color: #48a0b5;
}
a:hover {
	color: #48a0b5;
	font-weight: bolder;
}
/* parallax scroll */
.parallax { 
    /* The image used */
    background-image: url("../images/photo-1515376455460-85197101c27a.jpeg");
    /* Set a specific height */
    height: 300px; 
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
	background-size: cover;
	padding: 120px;
	margin: 20px 0px 20px 0px;
}


#cardSpace {
	height: 600px;
	overflow: scroll;
}

#mapHidden,
#cardHidden {
	display: none;
}

.dogCard:hover,
.card:hover {
	-webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
	-mox-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
	box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
}

.card {
	margin-top: 8%;
	margin-bottom: 8%;
}

#zip-error{
	color: red;
	font-weight: bold;
	font-size: 12px;
	display:none;
}

/* 
Generic Styling, for Desktops/Laptops 
*/
table { 
  width: 100%; 
  border-collapse: collapse; 
}
/* Zebra striping */
tr:nth-of-type(odd) { 
  background: #eee; 
}
th { 
  background: #48a0b5; 
  color: white; 
  font-weight: bold; 
}
td, th { 
  padding: 6px; 
  border: 1px solid #ccc; 
  text-align: left; 
}

/* 
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "Category:"; }
	td:nth-of-type(2):before { content: "Description:"; }
	td:nth-of-type(3):before { content: "Link:"; }
}

@media screen and (max-width: 590px) {
	h4 {
		font-size: 40px;
	}
}
@media screen and (max-width: 767px) {
	#mapDescriptor {
		margin-bottom: 25px;
	}
}